@import "./styles/brand-colours";
@import "./styles/fonts";

html {
    background-color: $grey-100;
    padding: 3em;
}

h1,h2,h3 {
    color: $brand-blue-500;
    font-family: $font-family-headings;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 1.5em;
}
.tab {
    font-family: $font-family-base-regular;
    padding: .25em .5em;
    font-weight: 300;
    color: $brand-blue-400;
    background-color: $grey-200;
    margin: .5em .75em;
}

.title {

    & .tab {
        font-size: .625em;
    }
}


.card {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.05);
    background-color: white;
    color: $brand-blue-500;
    font-family: $font-family-base-regular;
    // Note: probably wouldn't use this property in production due to support in older browsers
    width: fit-content;

    & > div {
        padding: 1em 2em .75em 1em;
    }

    p {
        font-size: 1.125em;
    }

    svg {
        transform: scale(.75);
    }

    & .tab {
        background-color: $success-green-100;
        display: inline-flex;
        align-items: center;
        font-size: .875em;
        padding: 0 .25em;
        margin: 0.25em 0 0 0;
    }

    button {
        background-color: $brand-blue-200;
        border: none;
        color: $brand-blue-500;
        font-family: $font-family-base-regular;
        font-size: 1em;
        padding: 0 1em 0 2em;
        text-decoration: underline;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;

        &::after {
            content: ">";
            display: inline-block;
            margin-left: .25em;
        }
    }
}